<div class="main-cont">
  <div class="shell-user-profile">
    <div class="shell-user-profile__avatar">
      <img alt="avatar" src="../assets/avatar_placeholder.gif" />
    </div>
    <div class="shell-user-profile__identifiers">
      <div class="shell-user-profile__identifiers__username">Angelo Laurente</div>
      <div class="shell-user-profile__identifiers__slid">923743287423732</div>
    </div>
  </div>

  <div class="container">
    <div class="skill html"></div>
  </div>

  <div class="btn-cont">
    <div>
      <button class="divSquare" style="background: url(../assets/Writing.jpg); background-size:cover; cursor: pointer;
      border-radius: 20px;"></button>
      <button class="divSquare" style="background: url(../assets/WritingWord.jpg); background-size:cover; cursor: pointer;
      border-radius: 20px;"></button>
    </div>
    <div>
      <button class="divSquare" style="background: url(../assets/Speaking.jpg); background-size:cover; cursor: pointer;
      border-radius: 20px;"></button>
      <button class="divSquare" style="background: url(../assets/Reading.jpg); background-size:cover; cursor: pointer;
      border-radius: 20px;"></button>
    </div>

  </div>
</div>